body {
background-color: #e8a28f;

}

#root {
	width: 75%;
	padding: 50px;
	margin: auto;
	background: rgba(232, 0, 0, 0.2);

}
h1 {
	width: 75%;
	padding: 50px;
	margin: auto;
	text-align: center;
	font-family: 'Karla', sans-serif;

}
p {
	width: 75%;
	padding: 20px;
	margin: auto;
	font-size: 10px;
}